<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<!-- Connection String -->
		<add key ="cnStr" value="Data Source = EPBYMINW6836;
			 Initial Catalog=northwind;
			 Integrated Security=True;
			 Pooling=True"/>
	</appSettings>
</configuration>